USE [master]
GO
/****** Object:  Database [Ql_CuaHangDT]    Script Date: 8/15/2020 1:57:19 AM ******/
CREATE DATABASE [Ql_CuaHangDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ql_CuaHangDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Ql_CuaHangDT.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ql_CuaHangDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Ql_CuaHangDT_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ql_CuaHangDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ql_CuaHangDT]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MABAOHANH] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NULL,
	[MASP] [nvarchar](50) NULL,
	[MANV] [nvarchar](50) NULL,
	[YEUCAUBAOHANH] [nvarchar](max) NULL,
	[NGAYNHAN] [date] NULL,
	[NGAYTRA] [date] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAOHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[DONGIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](10) NULL DEFAULT (N'Cái'),
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CCHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACTPN] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[DONVITINH] [nvarchar](10) NULL DEFAULT (N'Cái'),
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MACTPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MACHUCNANG] [nvarchar](10) NOT NULL,
	[TENCHUCNANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPHANQUYEN]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHANQUYEN](
	[MAPHANQUYEN] [nvarchar](50) NOT NULL,
	[MACHUCNANG] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_MAPQ_MACN] PRIMARY KEY CLUSTERED 
(
	[MAPHANQUYEN] ASC,
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NULL,
	[MANV] [nvarchar](50) NULL,
	[NGAYLAPPHIEU] [date] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAI] [nvarchar](50) NOT NULL,
	[MANHOMHANG] [nvarchar](50) NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](50) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [char](10) NULL,
	[CHUTHICH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[TENNV] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[MAPHANQUYEN] [nvarchar](50) NULL,
	[CHUTHICH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMHANG]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHANG](
	[MANHOMHANG] [nvarchar](50) NOT NULL,
	[TENNHOMHANG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOMHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPHANQUYEN] [nvarchar](50) NOT NULL,
	[CHUTHICH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nvarchar](50) NOT NULL,
	[MANV] [nvarchar](50) NULL,
	[MANCC] [nvarchar](50) NULL,
	[MADONDOAT] [nvarchar](50) NULL,
	[NGAYLAP] [date] NULL,
	[THANHTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[MAPHIEUTHU] [nvarchar](50) NOT NULL,
	[MAHD] [nvarchar](50) NULL,
	[NGAYTHU] [date] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 8/15/2020 1:57:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](50) NOT NULL,
	[MALOAI] [nvarchar](50) NULL,
	[TENHANG] [nvarchar](100) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[DONGIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[BAOHANH] [nvarchar](50) NULL,
	[MANCC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [DONGIA], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'HD0002', N'SP0003', 150000.0000, 1, N'Cái', 150000.0000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [DONGIA], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'HD0002', N'SP0005', 50000.0000, 1, N'Cái', 50000.0000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASP], [DONGIA], [SOLUONG], [DONVITINH], [THANHTIEN]) VALUES (N'HD0002', N'SP0007', 50000.0000, 1, N'Cái', 50000.0000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPN], [MASP], [SOLUONG], [DONGIA], [DONVITINH], [THANHTIEN]) VALUES (N'PN0001', N'SP0001', 1, 200000.0000, N'Cái', 200000.0000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPN], [MASP], [SOLUONG], [DONGIA], [DONVITINH], [THANHTIEN]) VALUES (N'PN0001', N'SP0003', 2, 150000.0000, N'Cái', 300000.0000)
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG]) VALUES (N'CN001', N'Tạo Tài Khoản Nhân Viên')
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG]) VALUES (N'CN002', N'Lập Hóa Đơn')
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG]) VALUES (N'CN003', N'Nhập Kho')
INSERT [dbo].[CTPHANQUYEN] ([MAPHANQUYEN], [MACHUCNANG]) VALUES (N'PQBanHang', N'CN011')
INSERT [dbo].[CTPHANQUYEN] ([MAPHANQUYEN], [MACHUCNANG]) VALUES (N'PQBanHang', N'CN012')
INSERT [dbo].[CTPHANQUYEN] ([MAPHANQUYEN], [MACHUCNANG]) VALUES (N'PQKho', N'CN004')
INSERT [dbo].[HOADON] ([MAHD], [MAKHACHHANG], [MANV], [NGAYLAPPHIEU], [TONGTIEN]) VALUES (N'HD0001', N'KH0001', N'NV0001', CAST(N'2020-08-09' AS Date), 30200000.0000)
INSERT [dbo].[HOADON] ([MAHD], [MAKHACHHANG], [MANV], [NGAYLAPPHIEU], [TONGTIEN]) VALUES (N'HD0002', N'KH0002', N'NV0001', CAST(N'2020-08-09' AS Date), 250000.0000)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH0001', N'Thái Kim Hùng', N'364 Cộng Hòa ,P. 13 ,Q. Tân Bình', N'0932115177', N'hih@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH0002', N'aádfsadf', N'aaaaaaaaa', N'0903655561', N'hung@gmail.com')
INSERT [dbo].[LOAIHANG] ([MALOAI], [MANHOMHANG], [TENLOAI]) VALUES (N'Loai0001', N'NhomPHUKIEN', N'Sạc, cáp')
INSERT [dbo].[LOAIHANG] ([MALOAI], [MANHOMHANG], [TENLOAI]) VALUES (N'Loai0002', N'NhomPHUKIEN', N'Ốp lưng điện thoại')
INSERT [dbo].[LOAIHANG] ([MALOAI], [MANHOMHANG], [TENLOAI]) VALUES (N'Loai0003', N'NhomPHUKIEN', N'Cường lực điện thoại')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [CHUTHICH]) VALUES (N'NCC0001', N'Công Ty TNHH Thế Giới Di Động', N'364 Cộng Hòa ,P. 13 ,Q. Tân Bình', N'0932115177', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [CHUTHICH]) VALUES (N'NCC0002', N'Viettel TPHCM', N'285 Cách Mạng Tháng Tám, P. 12, Q. 10,', N'0942981657', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [CHUTHICH]) VALUES (N'NCC0003', N'Phụ Kiện Buôn Bán', N'Số 117-119, Lý Chính Thắng, P. 7, Q. 3', N'0942014717', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [MATKHAU], [TENNV], [DIACHI], [DIENTHOAI], [MAPHANQUYEN], [CHUTHICH]) VALUES (N'NV0001', N'123', N'hùng', N'TP.HCM', N'0903655561', N'PQQuanLy', N'chủ cửa hàng')
INSERT [dbo].[NHANVIEN] ([MANV], [MATKHAU], [TENNV], [DIACHI], [DIENTHOAI], [MAPHANQUYEN], [CHUTHICH]) VALUES (N'NV0002', N'123', N'aaaaaaaaa', N'ádfsdf', N'0903655561', N'PQBanHang', N'aaaaaa')
INSERT [dbo].[NHOMHANG] ([MANHOMHANG], [TENNHOMHANG]) VALUES (N'NhomDIENTHOAI', N'Điện Thoại')
INSERT [dbo].[NHOMHANG] ([MANHOMHANG], [TENNHOMHANG]) VALUES (N'NhomPHUKIEN', N'Phụ kiện')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [CHUTHICH]) VALUES (N'PQBanHang', N'Nhân Viên Bán Hàng')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [CHUTHICH]) VALUES (N'PQKho', N'Nhân Viên Kho')
INSERT [dbo].[PHANQUYEN] ([MAPHANQUYEN], [CHUTHICH]) VALUES (N'PQQuanLy', N'Nhân Viên Quản Lý')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANV], [MANCC], [MADONDOAT], [NGAYLAP], [THANHTIEN]) VALUES (N'PN0001', N'NV0001', N'NCC0002', N'bhughu', CAST(N'2020-08-10' AS Date), 500000.0000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANV], [MANCC], [MADONDOAT], [NGAYLAP], [THANHTIEN]) VALUES (N'PN0002', N'NV0001', N'NCC0002', N'aaa', CAST(N'2020-08-10' AS Date), 0.0000)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENHANG], [HINHANH], [DONGIA], [SOLUONG], [BAOHANH], [MANCC]) VALUES (N'SP0001', N'Loai0001', N'Sạc Nhanh LV0001', N'sacnhanh01.JPG', 200000.0000, 51, N'12 tháng', N'NCC0001')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENHANG], [HINHANH], [DONGIA], [SOLUONG], [BAOHANH], [MANCC]) VALUES (N'SP0002', N'Loai0001', N'Sạc Nhanh LV0006', N'sacnhanh06.JPG', 300000.0000, 49, N'12 tháng', N'NCC0001')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENHANG], [HINHANH], [DONGIA], [SOLUONG], [BAOHANH], [MANCC]) VALUES (N'SP0003', N'Loai0001', N'Cáp sạc LV0001', N'capsac01.JPG', 150000.0000, 51, N'12 tháng', N'NCC0001')
ALTER TABLE [dbo].[BAOHANH] ADD  DEFAULT (N'Đang tiến hành') FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_KHACHHANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_KHOHANG] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_KHOHANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MACTPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CTPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_MACN_CHUCNANG] FOREIGN KEY([MACHUCNANG])
REFERENCES [dbo].[CHUCNANG] ([MACHUCNANG])
GO
ALTER TABLE [dbo].[CTPHANQUYEN] CHECK CONSTRAINT [FK_MACN_CHUCNANG]
GO
ALTER TABLE [dbo].[CTPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_MAPQ_PHANQUYEN] FOREIGN KEY([MAPHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAPHANQUYEN])
GO
ALTER TABLE [dbo].[CTPHANQUYEN] CHECK CONSTRAINT [FK_MAPQ_PHANQUYEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MAKHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MAKHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[LOAIHANG]  WITH CHECK ADD  CONSTRAINT [FK_LOAIHANG_NHOMHANG] FOREIGN KEY([MANHOMHANG])
REFERENCES [dbo].[NHOMHANG] ([MANHOMHANG])
GO
ALTER TABLE [dbo].[LOAIHANG] CHECK CONSTRAINT [FK_LOAIHANG_NHOMHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_QUYEN] FOREIGN KEY([MAPHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAPHANQUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_QUYEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NV]
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHU_PHIEUXUAT] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEUTHU] CHECK CONSTRAINT [FK_PHIEUTHU_PHIEUXUAT]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAIHANG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAIHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
USE [master]
GO
