USE [master]
GO
/****** Object:  Database [Ql_CuaHangDT_Android]    Script Date: 8/15/2020 1:59:14 AM ******/
CREATE DATABASE [Ql_CuaHangDT_Android]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ql_CuaHangDT_Android', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Ql_CuaHangDT_Android.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ql_CuaHangDT_Android_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Ql_CuaHangDT_Android_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ql_CuaHangDT_Android].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ql_CuaHangDT_Android]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MABAOHANH] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NULL,
	[MASP] [nvarchar](50) NULL,
	[MANV] [nvarchar](50) NULL,
	[YEUCAUBAOHANH] [nvarchar](max) NULL,
	[NGAYNHAN] [date] NULL,
	[NGAYTRA] [date] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAOHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NULL,
	[DONGIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CCHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACTPN] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[MADONDOAT] [nvarchar](50) NULL,
	[MANV] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MACTPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAI] [nvarchar](50) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](50) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [char](10) NULL,
	[CHUTHICH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[TENNV] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](10) NULL,
	[MAPHANQUYEN] [nvarchar](50) NULL,
	[CHUTHICH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 8/15/2020 1:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](50) NOT NULL,
	[MALOAI] [nvarchar](50) NULL,
	[TENHANG] [nvarchar](100) NULL,
	[HINHANH] [nvarchar](max) NULL,
	[DONGIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[BAOHANH] [nvarchar](50) NULL,
	[MANCC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH0001', N'Thái Kim Hùng', N'364 Cộng Hòa ,P. 13 ,Q. Tân Bình', N'0932115177', N'hih@gmail.com')
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI]) VALUES (N'Loai0001', N'Sạc, cáp')
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI]) VALUES (N'Loai0002', N'Ốp lưng điện thoại')
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI]) VALUES (N'Loai0003', N'Cường lực điện thoại')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [CHUTHICH]) VALUES (N'NCC0001', N'Công Ty TNHH Thế Giới Di Động', N'364 Cộng Hòa ,P. 13 ,Q. Tân Bình', N'0932115177', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [CHUTHICH]) VALUES (N'NCC0002', N'Viettel TPHCM', N'285 Cách Mạng Tháng Tám, P. 12, Q. 10,', N'0942981657', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [CHUTHICH]) VALUES (N'NCC0003', N'Phụ Kiện Buôn Bán', N'Số 117-119, Lý Chính Thắng, P. 7, Q. 3', N'0942014717', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [MATKHAU], [TENNV], [DIACHI], [DIENTHOAI], [MAPHANQUYEN], [CHUTHICH]) VALUES (N'NV0001', N'123', N'hùng', N'TP.HCM', N'0903655561', N'PQQuanLy', N'chủ cửa hàng')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENHANG], [HINHANH], [DONGIA], [SOLUONG], [BAOHANH], [MANCC]) VALUES (N'SP0001', N'Loai0001', N'Sạc Nhanh LV0001', N'https://znews-photo.zadn.vn/w660/Uploaded/lce_jwquc/2019_09_23/Z16023092019.jpg', 200000.0000, 50, N'12 tháng', N'NCC0001')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENHANG], [HINHANH], [DONGIA], [SOLUONG], [BAOHANH], [MANCC]) VALUES (N'SP0002', N'Loai0001', N'Cáp sạc LV0001', N'https://product.hstatic.net/1000152881/product/halo-data-micro-cable-1m-black-03_fb8f1a71717d43a19f5964b645ecc6db_master.jpg', 150000.0000, 50, N'12 tháng', N'NCC0001')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [TENHANG], [HINHANH], [DONGIA], [SOLUONG], [BAOHANH], [MANCC]) VALUES (N'SP0003', N'Loai0002', N'Ốp lưng iphone 7plus/8plus ', N'https://cf.shopee.vn/file/ab2cda01c07a5a46dfa662ca88fec153', 50000.0000, 50, N'không bảo hành', N'NCC0002')
ALTER TABLE [dbo].[BAOHANH] ADD  DEFAULT (N'Đang tiến hành') FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT (N'Cái') FOR [DONVITINH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] ADD  DEFAULT (N'Cái') FOR [DONVITINH]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_KHACHHANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_KHOHANG] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_KHOHANG]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_NV] FOREIGN KEY([MACTPN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_NV]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAIHANG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAIHANG]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
USE [master]
GO
